@charset "utf-8";

color {
  color: #343a40;
  color: #868e96;
}

/* Common */
body {
  padding: 0;
  margin: 0;
  color: #343a40;
}
h6 {
  color: #868e96;
}
a {
  text-decoration: none;
  color: #868e96;
}
a:hover {
  text-decoration: none;
  color: #343a40;
}

/* Container */
.container {
  display: flex;
  flex-direction: column;
  max-width: 1600px;
  margin: 0 auto;
}
.contents_area {
  flex: 1;
  display: flex;
  min-height: 90vh;
}

/* Sidemenu */
.sidemenu {
  width: 300px;
  height: 90vh;
  padding: 20px 30px;
  position: sticky;
  top: 0;
  left: 0;
  overflow-y: scroll;
}

/* Sidemenu - Profile */
.sidemenu .profile {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  overflow: hidden;
  margin: 0 auto;
}
.sidemenu .profile img {
  width: 100%;
  height: auto;
}

/* Sidemenu - Description */
.sidemenu .description {
  text-align: center;
}
.sidemenu .description .blogger {
  font-weight: bold;
}
.sidemenu .description .desc {
}

/* Sidemenu - Category */
.sidemenu .category ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidemenu .category ul li a {
  display: inline-block;
  padding-bottom: 10px;
}
.sidemenu .category ul li ul li ul li a.link_sub_item {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

/* Main */
.main {
  flex: 1;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
}

/* Main - Header */
header {
  height: 50px;
  display: flex;
  align-items: center;
}
header ul {
  flex: 1;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
}
header ul li {
  flex: 1;
}
header ul li a {
  display: block;
  width: 100%;
}

/* Main - Main */
main {
  flex: 1;
  padding: 10px;
}
main img {
  width: 100%;
}

/* Main - Main - Home Post */
.home_post_wrapper {
  display: flex;
  justify-content: center;
}
.home_post {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 10px;
}
.home_post_img {
  width: 180px;
  height: 180px;
  overflow: hidden;
}
.home_post_img img {
  height: 100%;
  width: auto;
  position: relative;
  top: 0;
  left: -37.5%;
}
.home_post_desc {
  flex: 1;
  padding: 10px;
}
.home_post_desc .home_post_title {
  font-weight: bold;
  font-size: 1.1em;
}
.home_post_desc .home_post_date {
  font-size: 0.7em;
}
.home_post_desc .home_post_summary {
  font-size: 0.8em;
}

/* Main - Main - Board Post */
.board_post_wrapper {
}
.board_post_wrapper .board_post_title {
}
.board_post_wrapper .board_post_title h2 {
  font-weight: bold;
}
.board_post_wrapper .board_post_date {
  font-size: 0.8em;
}
.board_post_wrapper .board_post_content {
  margin-top: 30px;
}
.board_post_wrapper .board_post_content .tt_article_useless_p_margin {
  line-height: 1.7em;
}

/* Main - Main - Comment */
.board_comment {
}
.board_comment .board_comment_write_form {
}
.board_comment .board_comment_write_form .write_info_form {
  display: flex;
  justify-content: left;
  align-items: center;
}
.board_comment .board_comment_write_form .write_info_form input {
  padding: 5px;
  margin-right: 5px;
  border-radius: 0;
  width: 20%;
  border: 1px solid #868e96;
  transition: all 0.3s ease-in;
}
.board_comment .board_comment_write_form .write_info_form input:focus {
  width: 100%;
  outline: none;
}
.board_comment .board_comment_write_form .write_secret_form {
  margin-top: 5px;
}
.board_comment .board_comment_write_form .write_comment_form {
  margin-top: 5px;
}
.board_comment .board_comment_write_form .write_comment_form textarea {
  display: block;
  min-width: 100%;
  max-width: 100%;
  min-height: 50px;
  border-radius: 0;
  padding: 10px;
  border: 1px solid #868e96;
  transition: all 0.3s ease-in;
}
.board_comment .board_comment_write_form .write_comment_form textarea:focus {
  min-height: 250px;
  border: 1px solid #343a40;
  outline: none;
}
.board_comment .board_comment_write_form .write_comment_form input {
  margin-top: 10px;
  border: 1px solid #343a40;
  padding: 10px;
  background-color: #343a40;
  color: #ffffff;
}
.board_comment .board_comment_write_form .write_comment_form input:hover {
  background-color: #fff;
  color: #343a40;
  cursor: pointer;
}

/* Footer */
footer {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
