@charset "utf-8";

color {
  color: #1971c2;
  color: #74c0fc;
  color: #adb5bd;
  color: #f9fafd;
}

/* Common */
body {
  padding: 0;
  margin: 0;
}

/* Container */
.container {
  display: flex;
  flex-direction: column;
}
.contents_area {
  flex: 1;
  display: flex;
  padding: 20px 0;
}

/* Sidemenu */
.sidemenu {
  width: 320px;
  padding: 0 20px;
  position: sticky;
  top: 0;
  left: 0;
}

/* Sidemenu - Profile */
.sidemenu .profile {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  overflow: hidden;
}
.sidemenu .profile img {
  width: 100%;
  height: auto;
}

/* Main */
.main {
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
