@charset "utf-8";

/* 폰트 */
/*@font-face {*/
/*  font-family: "GyeonggiBatang";*/
/*  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiBatang.woff")*/
/*    format("woff");*/
/*  font-weight: normal;*/
/*  font-style: normal;*/
/*}*/

/* 사용한 color */
color {
  color: #f8f9fa;
  color: #495057;
  color: #ced4da;
}

/* 초기화 */
body {
  font-family: "D2Coding", "GyeonggiBatang";
  color: #495057;
  line-height: 1.5em;
}
body,
div,
ul,
h6 {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.container {
  min-height: 100vh;
}
.custom_input {
  padding: 10px;
  margin: 5px;
  border: 1px solid #ced4da;
  transition: 0.2s ease-in-out;
}
.custom_input:focus {
  outline: none;
  border: 1px solid #495057;
}
.n_b_btn {
  padding: 10px;
  margin: 5px;
  background-color: #ffffff;
  border: none;
  transition: color 0.2s ease-in-out;
}
.n_b_btn:hover {
  cursor: pointer;
}
.short_key {
  color: #adb5bd;
  font-size: 0.9em;
}

/*************** Header */
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 290px;
  height: 80px;
}
header a.logo_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
}
header a.logo_wrapper img {
  padding-left: 50px;
  height: 32px;
}
header a.logo_wrapper h2 {
  flex: 1;
  margin-left: 10px;
}
header nav {
  flex-wrap: wrap;
  padding-right: 50px;
}
header nav ul {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav ul li {
  flex: 1;
  display: inline-block;
  text-align: center;
  padding: 0 10px;
}
header nav ul li a {
  font-weight: bold;
  transition: color 0.2s;
}
header nav ul li a {
  color: #495057;
}

/*************** Main */
main {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
main.left_order {
  flex-direction: row;
}
main.right_order {
  flex-direction: row-reverse;
}

/*************** Main - Menu */
main .menu_container {
  width: 350px;
}
main .menu_container .menu_wrapper {
  padding: 15px;
  display: flex;
  flex-direction: column;
}
.menu_container .menu_wrapper .menu_item {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px;
  margin-bottom: 20px;
  transition: 0.2s;
  border: 1px solid #f8f9fa;
}
.menu_container .menu_wrapper .menu_item:hover {
  border: 1px solid #e9ecef;
}

.menu_wrapper .menu_item h6 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1em;
  margin-bottom: 15px;
}
.menu_item h6 span {
  display: inline-block;
  padding-left: 10px;
  flex: 1;
}

/*************** Main - Menu - Profile */
.menu_wrapper .menu_item .profile {
  width: 150px;
  height: 150px;
  overflow: hidden;
  margin: 0 auto;
}
.menu_item .profile img {
  width: 100%;
  height: auto;
}
.menu_item .description .profile_title {
  font-weight: bold;
  text-align: center;
}
.menu_item .description .profile_desc {
  text-align: center;
}

.menu_wrapper .menu_item .circle_image {
  border-radius: 100%;
}
.menu_wrapper .menu_item .rect_image {
  border-radius: 0;
}
.menu_wrapper .menu_item .round_rect_image {
  border-radius: 10px;
}
.menu_wrapper .menu_item .none_image_border {
  border: 0;
}
.menu_wrapper .menu_item .thin_image_border {
  border: 1px solid #495057;
}
.menu_wrapper .menu_item .middle_image_border {
  border: 2px solid #495057;
}
.menu_wrapper .menu_item .bold_image_border {
  border: 3px solid #495057;
}

/*************** Main - Menu - Category */
.c_cnt {
  font-size: 0.8em;
}
a.link_tit,
a.link_item,
a.link_sub_item {
  display: block;
  color: #495057;
  padding: 5px 0;
  transition: color 0.2s ease-in-out;
}
a.link_tit {
}
a.link_sub_item {
}
a.link_sub_item:before {
  top: 0;
  content: "↘";
}

/*************** Main - Article */
main .article_container {
  flex: 1;
}

/*************** Main - Article */
main .article_container .article_wrapper {
  padding: 15px;
  display: flex;
  flex-direction: column;
}
.article_container .article_wrapper .article_item {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px;
  margin-bottom: 20px;
  transition: 0.2s;
  border: 1px solid #f8f9fa;
}
.article_container .article_wrapper .article_item:hover {
  border: 1px solid #e9ecef;
}
.article_wrapper .article_item h6 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1em;
  margin-bottom: 15px;
}
.article_item h6 span {
  display: inline-block;
  padding-left: 10px;
  flex: 1;
}

/*************** Main - Article - Search */
.article_wrapper .article_item .search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.article_wrapper .article_item .search > input {
  flex: 1;
}

/* 반응형 Large */
@media screen and (max-width: 1140px) {
  /*************** Main */
  main {
    margin-top: 15px;
  }
}

/* 반응형 Medium */
@media screen and (max-width: 960px) {
  /*************** Header */
  header {
    flex-direction: column;
    height: 90px;
  }
  header nav,
  header a.logo_wrapper img {
    padding: 0;
  }

  /*************** Main */
  main.left_order,
  main.right_order {
    flex-direction: column-reverse;
  }
  main .article_container,
  main .menu_container {
    width: 100%;
  }
}
