@charset "utf-8";

color {
  color: #343a40;
  color: #868e96;
}

/* Common */
html,
body {
  padding: 0;
  margin: 0;
  color: #343a40;
}
h6 {
  color: #868e96;
}
a {
  text-decoration: none;
  color: #868e96;
}
a:hover {
  text-decoration: none;
  color: #343a40;
}
::selection {
  color: #ffffff;
  background: #343a40;
}

/* Container */
.container {
  display: flex;
  flex-direction: column;
  max-width: 1600px;
  margin: 0 auto;
}
.contents_area {
  flex: 1;
  display: flex;
  min-height: 90vh;
}

/* Sidemenu */
.sidemenu {
  width: 300px;
  height: 90vh;
  padding: 20px 30px;
  position: sticky;
  top: 0;
  left: 0;
  overflow-y: scroll;
}

/* Sidemenu - Profile */
.sidemenu .profile {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  overflow: hidden;
  margin: 0 auto;
}
.sidemenu .profile img {
  width: 100%;
  height: auto;
}

/* Sidemenu - Description */
.sidemenu .description {
  text-align: center;
}
.sidemenu .description .blogger {
  font-weight: bold;
}
.sidemenu .description .desc {
}

/* Sidemenu - Category */
.sidemenu .category ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidemenu .category ul li a {
  display: inline-block;
  padding-bottom: 10px;
}
.sidemenu .category ul li ul li ul li a.link_sub_item {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

/* Main */
.main {
  flex: 1;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
}

/* Main - Header */
header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}
header ul {
  flex: 1;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
}
header ul li {
  flex: 1;
}
header ul li a {
  display: block;
  width: 100%;
}

/* Main - Main */
main {
  flex: 1;
  padding: 10px;
}
main img {
  width: 100%;
}

/* Main - Main - Home Post */
.home_post_wrapper {
  display: flex;
  justify-content: center;
}
.home_post {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 10px;
}
.home_post_img {
  width: 180px;
  height: 180px;
  overflow: hidden;
}
.home_post_img img {
  height: 100%;
  width: auto;
  position: relative;
  top: 0;
  left: -37.5%;
}
.home_post_desc {
  flex: 1;
  padding: 10px;
}
.home_post_desc .home_post_title {
  font-weight: bold;
  font-size: 1.1em;
}
.home_post_desc .home_post_date {
  font-size: 0.7em;
}
.home_post_desc .home_post_summary {
  font-size: 0.8em;
}

/* Main - Main - Board Post */
.board_post_wrapper {
}
.board_post_wrapper .board_post_title {
}
.board_post_wrapper .board_post_title h2 {
  font-weight: bold;
}
.board_post_wrapper .board_post_date {
  font-size: 0.8em;
}
.board_post_wrapper .board_post_content {
  margin-top: 30px;
}
.board_post_wrapper .board_post_content .tt_article_useless_p_margin {
  line-height: 1.7em;
}

/* Main - Main - Comment */
.board_comment {
  width: 100%;
}

/* Main - Main - Comment Write */
.board_comment .board_comment_write_form {
}
.board_comment .board_comment_write_form .write_info_form {
  display: flex;
  justify-content: left;
  align-items: center;
}
.board_comment .board_comment_write_form .write_info_form input {
  padding: 5px;
  margin-right: 5px;
  border-radius: 0;
  width: 20%;
  border: 1px solid #868e96;
  transition: all 0.3s ease-in;
}
.board_comment .board_comment_write_form .write_info_form input:last-child {
  margin-right: 0;
}
.board_comment .board_comment_write_form .write_info_form input:focus {
  width: 100%;
  outline: none;
}
.board_comment .board_comment_write_form .write_secret_form {
  margin-top: 5px;
}
.board_comment .board_comment_write_form .write_comment_form {
  margin-top: 5px;
}
.board_comment .board_comment_write_form .write_comment_form textarea {
  display: block;
  min-width: 96%;
  max-width: 96%;
  padding: 2%;
  min-height: 50px;
  border-radius: 0;
  border: 1px solid #868e96;
  transition: all 0.3s ease-in;
}
.board_comment .board_comment_write_form .write_comment_form textarea:focus {
  min-height: 250px;
  border: 1px solid #343a40;
  outline: none;
}
.board_comment .board_comment_write_form .write_comment_form input {
  margin-top: 10px;
  border: 1px solid #343a40;
  padding: 10px;
  background-color: #343a40;
  color: #ffffff;
}
.board_comment .board_comment_write_form .write_comment_form input:hover {
  background-color: #fff;
  color: #343a40;
  cursor: pointer;
}

/* Main - Main - Comment List */
.board_comment .comment_list {
  width: 100%;
}
.board_comment .comment_list img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.board_comment .comment_list ol,
.board_comment .comment_list ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.board_comment .comment_list ul li {
  margin-left: 3vw;
}
.board_comment .comment_list .replier_info {
  display: flex;
  align-items: center;
}
.board_comment .comment_list .replier_info .name,
.board_comment .comment_list .replier_info .date {
  margin-left: 5px;
}
.board_comment .comment_list .replier_info .date {
  font-size: 0.7em;
}

/* Footer */
footer {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 반응형 Large */
@media screen and (max-width: 1140px) {
  /* Sidemenu */
  .sidemenu {
    width: 230px;
    padding: 15px 25px;
  }

  /* Sidemenu - Profile */
  .sidemenu .profile {
    width: 100px;
    height: 100px;
  }
}

/* 반응형 Medium */
@media screen and (max-width: 960px) {
  /* Sidemenu */
  .sidemenu {
    width: 150px;
    padding: 10px 20px;
    font-size: 0.9em;
  }

  /* Sidemenu - Profile */
  .sidemenu .profile {
    width: 80px;
    height: 80px;
  }
}

/* 반응형 Small */
@media screen and (max-width: 720px) {
  /* Container */
  .contents_area {
    flex: 1;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  /* Sidemenu */
  .sidemenu {
    border-top: 1px solid #e9ecef;
    flex: 1;
    width: 91%;
    padding: 2% 3% 1% 3%;
    position: initial;
    margin: 0 auto;
  }

  /* Sidemenu - Profile */
  .sidemenu .profile {
    width: 70px;
    height: 70px;
  }

  /* Sidemenu - Category */
  .sidemenu .category {
    padding: 3%;
  }

  /* Main */
  .main {
    padding: 5px 10px;
  }

  /* Main - Header */
  header {
    height: 20px;
    font-size: 0.8em;
  }

  /* Main - Main */
  main {
    padding: 3px;
  }

  /* Main - Main - Home Post */
  .home_post_wrapper {
    display: flex;
    justify-content: center;
  }
  .home_post {
    flex-direction: column;
    padding: 0;
  }
  .home_post_img {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .home_post_img img {
    width: 100%;
    position: initial;
  }
  .home_post_desc {
    flex: 1;
    padding: 0;
  }

  /* Main - Main - Comment Write */
  .board_comment_write_form {
    display: flex;
    flex-direction: column;
  }
  .board_comment .board_comment_write_form .write_info_form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .board_comment .board_comment_write_form .write_info_form input {
    padding: 2%;
    width: 96%;
    margin: 0;
    margin-bottom: 3px;
    border-radius: 0;
    flex: 1;
  }
  .board_comment .board_comment_write_form .write_secret_form {
    margin-top: 3px;
  }
  .board_comment .board_comment_write_form .write_comment_form {
    margin-top: 3px;
  }
  .board_comment .board_comment_write_form .write_comment_form textarea {
    height: 20px;
  }
  .board_comment .board_comment_write_form .write_comment_form textarea:focus {
    height: 40px;
  }

  /* Footer */
  footer {
    font-size: 0.7em;
  }
}
