@charset "utf-8";
@font-face {
  font-family: "Cafe24Oneprettynight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Font */
html,
body {
  font-family: "Cafe24Oneprettynight";
  font-size: 18px;
  color: #212529;
  width: 100%;
}

/* Common */
a {
  text-decoration: none;
  display: inline-block;
  color: #212529;
  border-bottom: 1px solid #e9ecef;
  line-height: 1.5em;
  transition: all 0.2s ease-in-out;
}
ul {
  list-style: none;
}

/* Dark Theme */
.dark_theme,
.dark_theme .container,
.dark_theme footer,
.dark_theme main {
  background: #212529;
  color: #ffffff;
}
.dark_theme a {
  color: #ffffff;
  border-bottom: 1px solid #495057;
}
.dark_theme .header_tit a {
  color: #ffffff;
}
.dark_theme .tt_article_useless_p_margin p,
.dark_theme .tt_article_useless_p_margin span,
.dark_theme .tt_article_useless_p_margin li p,
.dark_theme .tt_article_useless_p_margin li span,
.dark_theme svg {
  color: #ffffff !important;
}
.dark_theme .search_wrapper input,
.dark_theme .comment_write_textarea textarea {
  background: #212529;
  color: #ffffff;
}
.dark_theme .tt_article_useless_p_margin figcaption {
  color: #ced4da;
}
.dark_theme .tt_article_useless_p_margin p > code,
.dark_theme .tt_article_useless_p_margin div > code,
.dark_theme .tt_article_useless_p_margin li > code,
.dark_theme .tt_article_useless_p_margin span > code {
  background: #495057;
}

/* Header */
header {
  height: 80px;
  box-sizing: border-box;
  padding: 15px 80px 10px 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e9ecef;
  font-weight: bold;
}
.header_tit {
  font-size: 1.3em;
  font-weight: bold;
}
.header_tit a {
  color: #212529;
  border: none;
}
header nav {
  flex: 1;
}
header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav ul li {
  text-align: center;
}
header nav ul li a {
  display: block;
  padding: 10px 10px;
  margin: 0 10px;
  color: #212529;
}
.search_wrapper {
  border: 1px solid #e9ecef;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 5px;
}
.search_wrapper:hover > .seach_txt {
  width: 200px;
  padding: 5px;
}
.search_btn {
  border: none;
  outline: none;
  background: inherit;
}
.search_btn:hover {
  cursor: pointer;
}
.seach_txt {
  width: 0px;
  border: none;
  box-sizing: border-box;
  padding: 5px 0px;
  transition: all 0.2s ease-in-out;
}
.seach_txt:focus {
  outline: none;
}

/* Banner */
div.banner_container {
  height: 400px;
  background-color: #e9ecef;
  background-image: url("https://source.unsplash.com/featured/?interior-designer");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
div.banner_container .banner_layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
div.banner_container .banner_header {
  padding-bottom: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
}
div.banner_container .banner_img_wrapper {
  width: 62px;
  height: 62px;
  overflow: hidden;
  border-radius: 100%;
  margin-right: 10px;
}
div.banner_container .banner_img_wrapper img {
  width: 100%;
  height: 100%;
}
div.banner_container .banner_tit {
  font-size: 2em;
  color: #ffffff;
}
div.banner_container a {
  color: #ffffff;
  border: none;
}
div.banner_container a.banner_item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
div.banner_container a.banner_item svg {
  margin-right: 5px;
}
div.banner_container p {
  color: #ffffff;
  margin-bottom: 20px;
}

/* Container */
div.container {
  background-color: #f8f9fa;
  width: 100%;
  display: flex;
  justify-content: center;
}
div.container_default_order {
  flex-direction: row;
}
div.container_reverse_order {
  flex-direction: row-reverse;
}

/* Container - Menu Container */
div.menu_container {
  width: 340px;
  padding: 10px 0;
  background: inherit;
  box-sizing: border-box;
  padding: 30px 15px;
}

div.menu_container .menu_item {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ced4da;
}

div.menu_container .menu_item h3 {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
div.menu_container .menu_item h3 svg {
  margin-right: 5px;
}

/* Menu Container - Category */
.tt_category a {
  border: none;
  font-size: 1.1em;
}
.tt_category a.link_item,
.tt_category a.link_tit,
.tt_category a.link_sub_item {
  display: block;
  width: 100%;
  overflow: hidden;
  padding: 5px 0;
}
.tt_category .c_cnt {
  font-size: 0.9em;
}

/* Menu Container - Tags */
.tagbox ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: center;
}
.tagbox ul li {
  padding: 5px;
}

/* Menu Container - AD */
.ad .ad_wrapper {
  width: 100%;
  box-sizing: border-box;
}

/* Menu Container - Share */
.share {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}
.share a {
  border: none;
  margin: 0 5px 5px 0;
}

/* Container - main */
main {
  width: 960px;
  min-height: 90vh;
  background-color: #ffffff;
  box-sizing: border-box;
}
main .ad_container {
  width: 100%;
  box-sizing: border-box;
}
main .post_container {
  padding: 30px 40px;
  box-sizing: border-box;
}

/* Container - Index Page */
.index_content {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  padding: 20px 40px;
  border-bottom: 1px solid #e9ecef;
  height: 240px;
}
.index_content:last-child {
  border: none;
}
.index_desc_wrapper {
  flex: 1;
  box-sizing: border-box;
  padding: 0 20px;
}
.index_desc_wrapper a {
  border: none;
}
.index_tit_post {
  font-weight: bold;
  font-size: 1.3em;
  padding-bottom: 10px;
  margin-bottom: 10px;
  transition: color 0.2s ease-in-out;
}
.index_date {
  font-size: 0.9em;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.index_txt_post {
  width: 100%;
  height: 110px;
  line-height: 1.5em;
  overflow: hidden;
}
.index_img_wrapper {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 100%;
  position: relative;
  background: #f1f3f5;
}
.index_img_wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Container - Article */
.article_wrapper {
}
.article_wrapper .article_header {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.article_wrapper .article_header .article_tit {
  font-weight: bold;
  font-size: 2em;
  transition: color 0.2s ease-in-out;
}
.article_wrapper .article_header .article_date {
  font-size: 0.9em;
}
.article_wrapper .article_header a {
  border: none;
}
/* Container - Article - 본문 */
.article_content .tt_article_useless_p_margin {
  line-height: 2em;
  font-size: 1.2em;
}
.tt_article_useless_p_margin figure.imageblock {
  margin-top: 10px;
}
.tt_article_useless_p_margin img {
  width: 100%;
}
.tt_article_useless_p_margin figcaption {
  font-size: 0.8em;
  color: #495057;
  font-style: italic;
  line-height: 1.5rem;
}
.tt_article_useless_p_margin pre {
  margin: 10px 0;
}
.tt_article_useless_p_margin pre code {
  border-radius: 0;
  padding: 20px;
  box-sizing: border-box;
  font-family: Consolas, monaco, monospace;
  font-size: 0.8em;
  letter-spacing: 1px;
  line-height: 1.5rem;
}
.tt_article_useless_p_margin ul,
.tt_article_useless_p_margin ol {
  padding-left: 25px;
}
.tt_article_useless_p_margin p > code,
.tt_article_useless_p_margin div > code,
.tt_article_useless_p_margin li > code,
.tt_article_useless_p_margin span > code {
  background-color: #f1f3f5;
  display: inline-block;
  padding: 0 5px;
  line-height: 1.5em;
}
.tt_article_useless_p_margin h2,
.tt_article_useless_p_margin h3,
.tt_article_useless_p_margin h4 {
  font-weight: bold;
}
.tt_article_useless_p_margin h2 {
  padding-bottom: 10px;
  margin-bottom: 5px;
  border-bottom: 1px solid #ced4da;
}
.tt_article_useless_p_margin .another_category {
  line-height: 1em;
}
.tt_article_useless_p_margin .another_category table tr th a {
  font-size: 1.2em;
}

/* 댓글 쓰기 */
.comment_wrapper {
  margin-top: 20px;
}
.comment_write {
  width: 100%;
  box-sizing: border-box;
}
.comment_write_tit {
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.comment_write_tit svg {
  margin-right: 5px;
}
.comment_write_form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.comment_user_info {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5px;
}
.comment_user_info input {
  flex: 1;
  box-sizing: border-box;
  padding: 5px;
  margin-right: 5px;
  border-radius: 0;
  border: 1px solid #ced4da;
}
.comment_user_info input:last-child {
  margin: 0;
}
.comment_user_info input:focus {
  outline: none;
  border: 1px solid #495057;
}
.comment_write_textarea {
  box-sizing: border-box;
  width: 100%;
}
.comment_write_textarea textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  height: 50px;
  line-height: 1.5em;
  border-radius: 0;
  border: 1px solid #ced4da;
  transition: all 0.2s ease-in-out;
}
.comment_write_textarea textarea:focus {
  height: 150px;
  outline: none;
  border: 1px solid #495057;
}
.comment_write button {
  margin-top: 10px;
  border: 1px solid #495057;
  border-radius: 0;
  background: #495057;
  color: #ffffff;
  padding: 10px;
  transition: 0.1s ease-in-out;
  cursor: pointer;
}
.comment_write button:hover {
  background: #ffffff;
  color: #495057;
}
#tt_captChaBottom .wrap_box_border {
  position: static !important;
  height: 5px !important;
}
#tt_captChaBottom .inner_captcha_box {
  position: static !important;
}
#tt_captChaBottom .inner_captcha_box img {
  width: auto;
}

/* 댓글 목록 */
.comment_list ol {
  display: flex;
}
.comment_default_order .comment_list ol {
  flex-direction: column;
}
.comment_reverse_order .comment_list ol {
  flex-direction: column-reverse;
}
.comment_list ol > li {
  border-bottom: 1px solid #e9ecef;
}
.comment_list ol > li > ul {
  box-sizing: border-box;
  padding-left: 20px;
}
.comment_list ol > li > ul > li {
  display: flex;
  align-items: center;
}
.comment_list ol > li > ul > li svg {
  margin-right: 20px;
}
.comment_list ol > li > ul > li .comment_item_wrapper {
  flex: 1;
}
.comment_item_wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px 10px;
}
.comment_item_header {
  display: flex;
  margin-bottom: 20px;
  box-sizing: border-box;
}
.comment_item_img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  overflow: hidden;
  margin-right: 20px;
}
.comment_item_img img {
  width: 100%;
}
.comment_item_desc {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
}
.comment_item_desc .name {
  flex: 1;
  font-weight: bold;
}
.comment_item_desc .date {
  flex: 1;
  font-size: 0.9em;
}
.comment_item_control {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
}
.comment_item_control a {
  width: auto;
  font-size: 0.8em;
  border: none;
  box-sizing: border-box;
  padding: 5px 10px;
  font-weight: bold;
}
.comment_desc {
  flex: 1;
}

/* 페이징 */
.paging {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  padding: 30px 20px;
}
.paging a {
  border: none;
}
.paging .numbox span {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px;
}
.paging .numbox span.selected,
.paging a.no-more-prev,
.paging a.no-more-next {
  color: #ced4da;
  cursor: not-allowed;
}
.paging .numbox {
  display: flex;
}
.paging .numbox a {
  flex: 1;
}

/* Footer */
footer {
  box-sizing: border-box;
  height: 100px;
  line-height: 80px;
  padding: 10px 40px;
  border-top: 1px solid #e9ecef;
  color: #212529;
  background-color: #ffffff;
  font-size: 0.9em;
  font-weight: bold;
}

/* Scroll To Top Button */
#scroll_to_top:focus {
  outline: none;
}
#scroll_to_top {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 80px;
  padding: 10px;
  color: #ffffff;
  background-color: #212529;
  border: 1px solid #212529;
  border-radius: 100%;
  width: 48px;
  height: 48px;
  transition: all 0.2s ease-in-out;
}
#scroll_to_top:hover {
  background-color: #ffffff;
  cursor: pointer;
  color: #212529;
}

/* Progress Bar */
#progress_bar {
  position: fixed;
  width: 100%;
  background: inherit;
  height: 5px;
  z-index: 99;
}

@media screen and (max-width: 1300px) {
  /* Container - main */
  main {
    width: 720px;
  }

  /* Header */
  header {
    padding: 10px 40px;
  }
}

@media screen and (max-width: 1060px) {
  /* Container */
  div.container {
    flex-direction: column-reverse;
  }

  /* Container - Menu Container */
  div.menu_container {
    width: 100%;
    padding: 30px 40px;
  }

  /* Container - main */
  main {
    width: 100%;
  }

  /* Header */
  header {
    justify-content: space-between;
  }
  header nav {
    display: none;
  }
}

@media screen and (max-width: 960px) {
  /* Container - Menu Container */
  div.menu_container {
    padding: 30px 40px;
  }

  /* Container - main */
  main .post_container {
    padding: 30px 20px;
  }

  /* Container - Index Page */
  .index_content {
    height: 190px;
  }
  .index_img_wrapper {
    width: 150px;
    height: 150px;
  }
  .index_txt_post {
    height: 60px;
  }

  /* 댓글 목록 */
  .comment_user_info {
    flex-direction: column;
  }
  .comment_user_info input {
    margin: 0 0 5px 0;
    width: 100%;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 720px) {
  /* Header */
  header {
    padding: 10px 20px;
  }
  .search_wrapper:hover > .seach_txt {
    width: 150px;
    padding: 0;
  }
  .seach_txt {
    width: 150px;
  }

  /* banner */
  div.banner_container .banner_tit {
    font-size: 1.8em;
  }
  div.banner_container .banner_img_wrapper {
    display: none;
  }

  /* Container - Menu Container */
  div.menu_container {
    padding: 30px 10px;
  }

  /* Container - main */
  main .post_container {
    padding: 30px 10px;
  }

  /* Container - Index Page */
  .index_content {
    flex-direction: column-reverse;
    height: auto;
    align-items: center;
    padding: 20px 10px;
  }
  .index_desc_wrapper {
    width: 100%;
    flex: 1;
    padding: 0;
  }
  .index_txt_post {
    height: 100px;
  }
  .index_img_wrapper {
    width: 100%;
    height: 250px;
    border-radius: 0;
    margin-bottom: 20px;
  }

  /* Container - Menu Container */
  div.menu_container {
    padding: 30px 20px;
  }

  /* 댓글 목록 */
  .comment_list ol > li > ul {
    padding-left: 10px;
  }
  .comment_list ol > li > ul > li svg {
    margin-right: 10px;
  }
  .comment_item_control {
    flex-direction: column;
  }
  .comment_item_control a {
    padding: 5px 5px;
  }
}
